# Python
__pycache__/
*.py[cod]

# 仮想環境
venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# 大きなバイナリ
tools/
videos/

# ユーザーデータ
*.dat
*.jks
privforge_hub_debug.log

# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/
SystemData.*

# IDE
.vscode/
.idea/
